.link-partial
  display block
  position relative
  text-align left
  margin 15px
  padding: 10px
  font-size 18px
  font-weight bold
  border-bottom 1px Gray dashed
  text-transform capitalize
  text-decoration none
  color Blue
  &:visited
    color Black

.link-partial-title
  display inline-block

.link-partial-rank
  position absolute
  right: 10px
  bottom: 10px
  font-size 10px
  color Gray
